#formEsqueci{
    background: var(--color2);
    border-left: 2px solid var(--color4);
    display: none;
}
#formEsqueci .title-container .titulo{
    color: var(--color3);
}
#formEsqueci .title-container .frase{
    color: var(--color3);
}
#formEsqueci .form-group .input-group input{
    background: var(--color4);
    outline: none;
    color: var(--color3);
}
#formEsqueci .form-group input:focus{
    box-shadow: none;
}
#formEsqueci #botaoEsqueci{
    background: var(--color3);
}
#formEsqueci #botaoEsqueci:hover{
    background: var(--color2);
    color: var(--color3);
}