@media screen and (max-width: 576px) {
  .container {
    padding: 1rem;
  }
  .form-container {
    width: 100%;
    padding: 0;
  }
  #entrar {
    width: 100%;
    height: 625px;
    background-color: var(--color2);
    border-radius: 1rem;
  }
  form {
    width: 100%;
    height: 625px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--color3);
    padding: 2rem;
    gap: 2rem;
    border-radius: 1rem;
  }
}

/* Telas médias (tablets e smartphones grandes) */
@media screen and (min-width: 577px) and (max-width: 768px) {
  .container {
    padding: 1rem;
  }
  .form-container {
    width: 100%;
    padding: 0;
  }

  #entrar {
    width: 100%;
    height: 625px;
    background-color: var(--color2);
    border-radius: 1rem;
  }
  form {
    width: 100%;
    height: 625px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--color3);
    padding: 2rem;
    gap: 2rem;
    border-radius: 1rem;
  }
}

/* Telas grandes (notebooks e desktops pequenos) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .container {
    padding: 1rem;
  }
  .form-container {
    width: 100%;
    padding: 0;
  }

  #entrar {
    width: 80%;
    height: 625px;
    background-color: var(--color2);
    border-radius: 1rem;
  }
  form {
    width: 70%;
    height: 625px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--color3);
    padding: 2rem;
    gap: 2rem;
    border-radius: 1rem;
  }
  .alerta{
    width: 65%;
}
}

/* Telas extra grandes (monitores grandes) */
@media screen and (min-width: 1025px) {
  #entrar {
    width: 768px;
    height: 625px;
    background-color: var(--color2);
    border-radius: 1rem;
  }
  form {
    width: 732px;
    height: 625px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--color3);
    padding: 2rem;
    gap: 2rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
  .alerta{
    width: 1100px;
}
}
